<!-- SuccessMessage.razor -->
@if (Mostrar)
{
    <div class="alert alert-danger" role="alert">
        @Contenido
    </div>
}

@code {
    [Parameter]
    public bool Mostrar { get; set; }

    [Parameter]
    public string Contenido { get; set; }
}